uptime-monitor-email-alert.json
{
  "name": "Uptime Monitor → Email Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "11110000-1111-4a01-8b01-000000000011",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://example.com/health",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "22220000-2222-4b02-9c02-000000000022",
      "name": "Check Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-status-bad",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33330000-3333-4c03-ad03-000000000033",
      "name": "Is It Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "monitor@example.com",
        "toEmail": "you@example.com",
        "subject": "=⚠️ Site DOWN — {{ $json.statusCode }}",
        "html": "=<p>The endpoint returned status <b>{{ $json.statusCode }}</b> at {{ $now }}.</p><p>Checked URL: https://example.com/health</p>",
        "options": {}
      },
      "id": "44440000-4444-4d04-be04-000000000044",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        300,
        -80
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Endpoint": {
      "main": [
        [
          {
            "node": "Is It Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is It Down?": {
      "main": [
        [
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "monitoring"
    }
  ]
}
