webhook-to-google-sheets-logger.json
{
  "name": "Webhook → Google Sheets Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aaaa0000-1111-4a01-8b01-0000000000aa",
      "name": "POST /log",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "webhookId": "aaaa0000-1111-4a01-8b01-0000000000aa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f-ts",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f-name",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "f-email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f-msg",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bbbb0000-2222-4b02-9c02-0000000000bb",
      "name": "Shape Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "cccc0000-3333-4c03-ad03-0000000000cc",
      "name": "Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"logged\" } }}",
        "options": {}
      },
      "id": "dddd0000-4444-4d04-be04-0000000000dd",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "POST /log": {
      "main": [
        [
          {
            "node": "Shape Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Row": {
      "main": [
        [
          {
            "node": "Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Row": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "logging"
    }
  ]
}
